<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app">
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="searchSubmit">
            <input type="text" placeholder="Search for posters" v-model="searchValue">
            <input type=submit value="search" class="btn" >
        </form>
    </div>
    <div class="main">
        <div class="products" >
            <div class="search-results" v-if="!loading">
                Found {{items.length}} for search {{lastSearch}}.
            </div>
            <div v-else>
                Loading...
            </div>
            <div class="product" v-for="(item, index) in items" >
                <div class="product-image">
                    <img v-bind:src="item.link">
                </div>
                <div class="product-title">
                    <h4>{{ item.title }}</h4>
                    <p class="item-price"> <strong>price: {{ price | currency}} </strong></p>
                    <button class="btn add-to-cart" v-on:click="addItem(index)">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="cart" >
            <h2>Shopping Cart</h2>
            <ul>
                <li class="cart-item" v-for="cartItem in cart">
                    <div class="item-title">
                        {{cartItem.title}}
                    </div> 
                    <div>
                        {{cartItem.unitPrice | currency}} x {{cartItem.quantity}}
                        <button class="btn" v-on:click="inc(cartItem)">+</button>
                        <button class="btn" v-on:click="dec(cartItem)">-</button>
                    </div>
                </li>
            </ul>
            <div class="cart-total" v-if="cart.length">
                {{ total | currency }}
            </div>
            <div v-else>
                <p class="empty-cart">No items in cart</p>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="/node_modules/vue/dist/vue.js"></script>
<script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
